.img {
    width: 280px;
    height: 280spx;
    border-radius: 150px;
    border-color: 10px solid yellow;
    margin: auto;
    display: flex;
    justify-content: center;
   
}
body {
    background-image: url(photo_2024-10-27_12-55-00\ \(2\).jpg);
    
}
.l {
    font-size: 20px;
    color: aliceblue;
}
   
    
    

.bcn {
    background-color: rgb(252, 174, 5);
    border-radius: 10px;
    text-align: center;
    margin: 150px 0;
    font-size: 50px;
    padding: 20px;
}
.tele {
    
   background-color: azure;
   padding: 30px;
   border-radius: 35px;
   text-align: center;
   font-size: 30px;
   outline: none;
   color: blue;
}
.b {
    padding: 40px;
    background-color: bisque;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 150px;
    font-size: 40px;
    outline: none;
   
}
.b2 {
    font-size: 50px;
    text-align: center;
    background-color:  rgb(252, 174, 5);
    padding: 10px;
}
.m {
    font-size: 50px;
}
.in {
    font-size: 60px;
    color: black;
    background-color: red;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}